.roomHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

}
.left {
  display: flex;
  align-items: center;
}

.heading {
  padding-right: 15px;
}

.roomList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
